body {
    // display: flex;
    // flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url("banner.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    image-rendering: auto;
    @include font-settings;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5)
   
  
   

}

.container {
     @include flex-center;
     width: 100vw;
}

.heading {
    font-family: $header-font;
    margin: 0;
    padding: 0;
    width: 100vw;
    
  

}

.lg {
    font-family: $header-font;
    font-size: 0.75em;
    justify-self: left;

    
     
   
   
    
    

}
a {
    text-shadow: none;
}